extends layout

block content
  h1= title
  if item_list.length
    ul
      each item in item_list
        li
          a.itemLink(href=item.url) #{item.name}
          p #[strong In Stock:] #{item.numInstock} 
          p #[strong Price: ]$#{item.price}

          each categoryItem in item.category
            p #{categoryItem.name} 

        - const hyphen = "-".repeat(30)
        p= hyphen
        

  else
    p There are no books.
